@import "./Components/SCSS/base";

*::before,
*::after,
* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 112.5%; //1rem = 18px

  @media only screen and (max-width: $bp-huger3) {
    font-size: 100%; //1rem = 16px
  }

  @media only screen and (max-width: $bp-huger2) {
    font-size: 87.5%; //1rem = 14px
  }

  @media only screen and (max-width: $bp-huger) {
    font-size: 75%; //1rem = 12px
  }

  @media only screen and (max-width: $bp-huge) {
    font-size: 62.5%; //1rem = 10px
  }
  @media only screen and (max-width: $bp-large) {
    font-size: 50%; //1rem = 8px
  }
  @media only screen and (max-width: $bp-small) {
    font-size: 43.75%; //1rem = 7px
  }
  // @media only screen and (max-width: $bp-smaller) {
  //   font-size: 40%; //1rem = 6px
  // }
}

body {
  font-family: $font-primary;
}
